@mixin font-for-headings {
  font-family: $font-stack-for-headings;
  color: $secondary-color;
}

@mixin settings-for-p {
  font-family: $font-stack-for-paragraphs;
  font-size: $font-size-paragraphs;
  color: darken($teriary-color, 60%);
  text-align: center;
}

@mixin nav-settings {
  text-decoration: none;
  color: lighten($secondary-color, 20%);
  font-size: 38px;
  margin-left: 70px;
}

@mixin margin-for-div {
  
  margin-left: 20px;
  margin-right: 20px;
}

@mixin padding-for-nav{
  padding-top: 30px;
}

