$primary-color: #F8F0F1;
$secondary-color: #E33602;
$teriary-color: #E9EEF0;
$font-size-paragraphs: 30px;
$font-stack-for-paragraphs: 'Hind Siliguri', sans-serif;
$font-stack-for-headings: 'Josefin Sans', sans-serif;