$primary-color: #F1F8E9;
$secondary-color: #B2DFDB;
$teriary-color: #C5E1A5;
$font-size-paragraphs: 35px;
$font-stack-for-paragraphs: 'Hind Siliguri', sans-serif;
$font-stack-for-headings: 'Josefin Sans', sans-serif;