@import 'variables';
@import 'mixins';

body {
  background: {
    color: $primary-color;
  }
}
header {
  > h1 {
    color: $secondary-color;
  }
}

div {
  padding: 30px;
  > h3 {
    @include font-for-titles; 
    color: $secondary-color; 
  }
  > p {
    @include font-for-p;
    margin-left: 200px;
  }
}

