@import 'variables';
@import 'mixins';

body {
  background: {
    color: $primary-color;
  }
}
header {
  > h1 {
    color: $secondary-color;
  }
}

div {
  padding: 30px;
  > h3 {
    color: $secondary-color;
    
  }
}

