@import 'variables';
@import 'mixins';

body {
  background: {
    color: $primary-color;
  }
}

header {
  padding: 75px;
  > h1 {
    @include font-for-headings;
    font-size: 80px;
    text-align: center;
  }
  > p {
    @include settings-for-p;
  }
}

nav{
  > a {
    @include padding-for-nav;
    @include nav-settings;
    text-align: center;
    &:hover{
      color: $secondary-color;
    }
  }
}

h2 {
  @include font-for-headings;
  margin-left: 30px;
  font-size: 50px;
}

div {
  @include margin-for-div;
  > h3 {
    @include font-for-headings;
    font-size: 45px;
    padding: 20px;
  }
  > p {
    @include settings-for-p;
  }
}